* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  min-width: 360px;
  padding-top: 8.3rem;
  background-color: $light-gray-color;
}

.hidden {
  visibility: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}